body {
	margin: 0;
    background-color: rgb(58, 44, 44);
}
iframe {
    border: none;
    background-color: white;
}


body {
	display: grid;
    grid-template-areas:
    "opt news"
    "opt tabs"
    "opt cons"
    "opt input"
    ;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 7fr 1.5em 3fr 1.5em;
	width: 100vw;
	height: 100vh;
}
#options-container {
    grid-area: opt;
    border-right: 4px solid white;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
#configuration-container {
    grid-area: opt;
    display: none; /* Hide configuration container by default */
    overflow-y: scroll;
}
#configuration-container.opened {

    background-color: rgb(58, 44, 44);
    color: gainsboro;
    font-family: monospace;
    display: unset;
}
#configuration-container.opened + #options-container {
    display: none; /* Hide options container when configuration is opened */
}
.program-group {
    color: gainsboro;
    font-family: monospace;
}
.program-group.highlighted {
    outline: 2px solid #ff0;
}

#sugoi-news {
    grid-area: news;
    width: 100%;
    height: 100%;
}

#console-tabs {
    grid-area: tabs;
    margin: auto auto auto 0.5em;
}
#console-filter-error-toggle {
    vertical-align: text-top;
}
#console-tabs > label {
    color: gainsboro;
    vertical-align: bottom;
}

#console-view {
    grid-area: cons;
    background-color: rgb(10, 8, 8);
    padding: 0em 0.5em 0.25em 0.5em;
    overflow-y: scroll;
    word-break: break-all;
    white-space: pre-wrap;
    font-family: monospace;
    color: lemonchiffon;
}

.console-line {
    color: lemonchiffon;
    font-family: monospace;
    white-space: pre-wrap;
    display: block;
    margin-top: 0.5em;
    height: 1em;
}

#console-input {
    grid-area: input;
    padding: 4px;
    background-color: rgb(10, 8, 8);
    color: lemonchiffon;
    border-top: rgb(58, 44, 44) 2px solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#console-input:disabled {
    color: #555;           /* Gray text */
    cursor: not-allowed;      /* Show a not-allowed cursor */
}

.console-button {
    vertical-align: text-top;
    display: inline-block;
    margin-left: 5px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: #0000;
    color: #fff;
}
.console-button:hover:enabled {
    background-color: #fff5;
}
.console-button:active:enabled {
    background-color: #fff0;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}
.console-button:disabled {
    color: #555;           /* Gray text */
    cursor: not-allowed;      /* Show a not-allowed cursor */
}
.sugoi_page {
	width: 100%;
	height: 100%;
}
.column {
    justify-content: space-evenly;
    padding: 10px;
}

.button {
	display: inline-block;
	margin: 5px;
	padding: 12px 22px;
	font-size: 22px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #000000;
	border: none;
	/* box-shadow: 0 9px #999; */
}

.button:hover {background-color: #bebebe}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.button:disabled {
  /* Basic styles */
  background-color: #d3d3d3; /* Light gray background */
  color: #808080;           /* Gray text */
  cursor: not-allowed;      /* Show a not-allowed cursor */
  opacity: 0.6;             /* Reduce opacity for a 'disabled' look */

  /* Optional styles for a consistent appearance */
  border: 1px solid #ccc;   /* Light border */
  box-shadow: none;         /* Remove any shadow */
}

#configuration-container {
    padding: 2em;
}
.tab-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 0.5em;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    border: none;
    border-radius: 5px;
}
.config-close-button {
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    margin: 2em;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    border: none;
    border-radius: 5px;
}

.tab-button:hover, .config-close-button:hover {
    background-color: #777373;
}
.tab-button:active, .config-close-button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
.config-longtext-input {
    width: 95%;
    height: 10em;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical; /* Allow vertical resizing */
}